<div class="flex font-sans h-screen text-white">
    <!-- Sidebar -->
    <div class="bg-primary w-1/3 px-6 pl-6 h-full overflow-y-auto pb-6">
        <h2 class="text-center m-5 ">Delivery Tour Optimizer</h2>
        <hr class="my-2 w-11/12 mx-auto text-grey-600 pb-6">

        <!-- Load -->
        <div>
            <button (click)="toggleDropMenu(1)" class="drop-down-button">
                <h3 class="inline-block">Load</h3>
                <span *ngIf="!toggleLoading" class="arrow">⬅</span>
                <span *ngIf="toggleLoading" class="arrow">⬇</span>
            </button>
            <div *ngIf="toggleLoading" class="drop-down-menu">
                <label>Map File</label>
                <input type="file" id="mapFile" class="file-input file-input-bordered w-full text-black" />
                <button (click)="sendXMLtoBack('map')" class="btn mt-3 block w-full">Submit Map</button>

                <label class="pt-6">Delivery Requests File</label>
                <input type="file" id="deliveryRequestFile" class="file-input file-input-bordered w-full text-black" />
                <label class="italic">Please fill the courrier section to submit</label>
            </div>
        </div>

        <!-- Manage Couriers Section -->
        <div>
            <button (click)="toggleDropMenu(2)" class="drop-down-button">
                <h3 class="inline-block">Manage Couriers</h3>
                <span *ngIf="!toggleCourrier" class="arrow">⬅</span>
                <span *ngIf="toggleCourrier" class="arrow">⬇</span>
            </button>

            <div *ngIf="toggleCourrier" class="drop-down-menu">
                <label for="courierCount">Number of Couriers</label>
                <input type="number" min="1" id="courierCount" name="courierCount" value="1"
                    class="input input-bordered w-full text-black" />
                <button (click)="confirmCourierCount()" class="btn mt-3 block w-full">Confirm</button>

                <label class="pt-6">Select Courier</label>
                <select id="courierNames" name="courierNames" class="select select-bordered w-full text-black">
                    <option value="" disabled selected>None</option>
                    <option *ngFor="let courier of allCouriers" [value]="courier.id">{{ courier.name }}</option>
                </select>
                <button (click)="addCourier()" class="btn mt-3 block w-full">Add Courier</button>

                <label class="pt-6" for="courierTable">Couriers List</label>

                <div class="overflow-x-auto">
                    <table class="table w-full">
                        <!-- head -->
                        <thead>
                            <tr class="flex text-neutral">
                                <th>ID</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody class="text-neutral-light">
                            <tr class="flex" *ngFor="let courier of selectedCouriers">
                                <td>{{ courier.id }}</td>
                                <td>{{ courier.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button (click)="sendXMLtoBack('deliveryRequest')" class="btn mt-3 block w-full">Submit Delivery
                    Requests</button>
            </div>
        </div>


        <!-- Delivery Requests Section -->
        <div>
            <button (click)="toggleDropMenu(3)" class="drop-down-button">
                <h3 class="inline-block">Delivery Requests</h3>
                <span *ngIf="!toggleDelivery" class="arrow">⬅</span>
                <span *ngIf="toggleDelivery" class="arrow">⬇</span>
            </button>

            <div *ngIf="toggleDelivery" class="drop-down-menu">
                <div>
                    <label for="pickupLocation">Pickup Location</label>
                    <input type="text" id="pickupLocation" name="pickupLocation" placeholder="Pick address"
                        class="input input-bordered w-full text-black" readonly/>
                </div>
                <div class="pt-6">
                    <label for="deliveryLocation">Delivery Location</label>
                    <input type="text" id="deliveryLocation" name="deliveryLocation" placeholder="Pick address"
                        class="input input-bordered w-full text-black" readonly/>

                    <label for="deliveryNumber">Number of delivery added</label>
                    <input type="text" id="deliveryNumber" name="deliveryLocation" [value]="deliveriesToAdd.length"
                        class="input input-bordered w-full text-black" readonly/>
                    <button (click)="clearSelection()" class="btn mt-3 block w-full">Clear selection</button>
                    <button (click)="clearDeliveries()" class="btn mt-3 block w-full">Clear added deliveries</button>
                    <button (click)="addDelivery()" class="btn mt-3 block w-full">Add delivery request</button>
                </div>
            </div>
        </div>


        <!-- Save/Restore Tours Section -->
        <div>
            <button (click)="toggleDropMenu(4)" class="drop-down-button">
                <h3 class="inline-block">Save/Restore Tours</h3>
                <span *ngIf="!toggleTours" class="arrow">⬅</span>
                <span *ngIf="toggleTours" class="arrow">⬇</span>
            </button>



            <div *ngIf="toggleTours" class="drop-down-menu">
                <table class="table w-full">
                    <!-- head -->
                    <thead>
                        <tr class="flex text-neutral">
                            <th>ID</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody class="text-neutral-light">
                        <tr class="flex cursor-pointer" *ngFor="let tour of currentTours">
                            <td>{{ tour.deliveryRequest.courier.id }}</td>
                            <td>{{ tour.deliveryRequest.courier.name }}</td>
                            <td>
                                <div [style.background-color]="colors[currentTours.indexOf(tour) % colors.length]" style="width: 20px; height: 20px;"></div>
                            </td>
                            <td>
                                <input type="radio" name="selectedTour" (click)="selectTour(tour)" />
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button (click)="saveTour()" class="btn mt-3 w-full">Save tours</button>
                <!--
                <button (click)="restoreTours()" class="btn mt-3 w-full">Restore tours</button>
                -->
            </div>
            <div *ngIf="restoreTours" class="overflow-x-auto">
                <table class="table w-full">
                    <!-- head -->
                    <thead>
                        <tr class="flex text-neutral">
                            <th>ID</th>
                            <th>Courier</th>
                        </tr>
                    </thead>
                    <tbody class="text-neutral-light">
                        <!--
                        <tr class="flex" *ngFor="let tour of savedTours">
                            <td>{{ tour.id }}</td>
                            <td>{{ tour.courier.name }}</td>
                        </tr>
                        -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Map -->
    <!-- <div class="bg-primary-light w-3/4" id="mapDiv">
        <div *ngIf="!mapOpened" class="flex justify-center content-center">
            <p>Click on the "Load Map" button to load a map</p>
        </div>

        <div *ngIf="isLoading && mapOpened" class="flex flex-col items-center">
            <p>Loading map...</p>
        </div>

        <div *ngIf="!isLoading && mapOpened" class="w-full h-full">
            <div id="map" class="w-full h-full"></div>
        </div>
    </div> -->

    <div id="map" class="w-full h-full"></div>
</div>