/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #1f7a8c;
    --color-primary-light: #bfdbf7;
    --color-primary-dark: #053c5e;
    --color-secondary: #db222a;
    --color-secondary-light: #d15b61;
    --color-secondary-dark: #a31621;
    --color-neutral: #fdf0d5;
    --color-neutral-light: #fcf6e9;
    --color-neutral-dark: #e8d09f;
    --color-error: #ff0000;
  }
}
