/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #2563eb;
    --color-primary-light: #3b82f6;
    --color-primary-dark: #1e40af;
    --color-secondary: #10b981;
    --color-secondary-light: #34d399;
    --color-secondary-dark: #059669;
    --color-neutral: #f3f4f6;
    --color-neutral-light: #f9fafb;
    --color-neutral-dark: #d1d5db;
    --color-error: #ef4444;
  }
}
